# Caddyfile

probe.baughlabs.tech {

    handle /v1/api/status* {
		reverse_proxy umjprobe:8000
	}

	handle /v1/api/init* {
		reverse_proxy umjprobe:8000
	}

	handle /v1/api/probe* {
		reverse_proxy umjprobe:8000
	}

	handle /docs* {
		reverse_proxy umjprobe:8000
	}

	handle /openapi.json* {
        reverse_proxy umjprobe:8000
    }

	handle /llm/mcp* {
		reverse_proxy umjprobe:8000
	}

}




