websockets
requests
psutil
iperf3
pyshark
aiohttp
manuf
pysnmp
httpx
fastmcp<3
fastapi
redis
passlib
beautifulsoup4
dnspython
fastapi-user-limiter
python-dotenv
aiofiles
onetimesecret
httpx
websocket-client
python-crontab
xmltodict